<div class="deprecated">
  <strong>
  Warning! This page is deprecated.
  </strong>
  <p>
    The information on this page referes to the BigTest 1.x series. Please refer to the <a href="/">new BigTest</a> website for updated documentation.
  </p>
</div>
