<div class="deprecated">
  <strong>
  Warning! This page is deprecated.
  </strong>
  <p>
    The information in this page referes to BigTest 1.x series. Please refer to the <a href="/">new BigTest</a> for updated documentation.
  </p>
</div>
