<footer class="footer">
  <section class="footer-sitemap">
    <div class="footer-sitemap-section">
      <a href="/" class="footer-logo">
        <img src="/images/logo-white.svg" alt="BigTest">
      </a>

      <a href="/guides">Guides</a>
      <a href="/docs">Docs</a>
    </div>

    <div class="footer-sitemap-section">
      <h5>Community</h5>
      <a href="https://twitter.com/thefrontside">
        <i class="fab fa-twitter"></i> Twitter
      </a>
      <a href="https://gitter.im/thefrontside/bigtest">
        Gitter chat
      </a>
    </div>

    <div class="footer-sitemap-section">
      <h5>More</h5>
      <a href="https://github.com/bigtestjs">
        <i class="fab fa-github"></i> Github
      </a>
      <a href="https://fronstide.io">Frontside</a>
    </div>
  </section>

  <section class="footer-copyright">
    &copy; 2017 - <%= Date.today.year %> The Frontside, Inc.
  </section>

  <% if !development? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118371188-1"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-118371188-1');
    </script>
  <% end %>
</footer>
