<footer class="footer">
  <section class="footer-sitemap">
    <div class="footer-sitemap-section">
      <a href="/" class="footer-logo">
        <img src="/images/logo-white.svg" alt="BigTest">
      </a>

      <a href="/guides">Guides</a>
      <a href="/docs">Docs</a>
    </div>

    <div class="footer-sitemap-section">
      <h5>Community</h5>
      <a href="https://twitter.com/thefrontside">
        <i class="fab fa-twitter"></i> Twitter
      </a>
    </div>

    <div class="footer-sitemap-section">
      <h5>More</h5>
      <a href="https://github.com/thefrontside/bigtest">
        <i class="fab fa-github"></i> Github
      </a>
      <a href="https://fronstide.io">The Frontside</a>
    </div>
  </section>

  <section class="footer-copyright">
    &copy; 2017 - <%= Date.today.year %> The Frontside, Inc.
  </section>
</footer>
