<footer class="footer">
  <section class="footer-sitemap">
    <div class="footer-sitemap-section">
      <a href="/" class="footer-logo">
        <img src="/images/logo-white.svg" alt="BigTest">
      </a>

      <%= link_to 'Guides', '/guides/index.html' %>
      <%= link_to 'Docs', '/docs/index.html' %>
    </div>

    <div class="footer-sitemap-section">
      <h5>Community</h5>
      <a href="https://twitter.com/thefrontside">
        <i class="fab fa-fw fa-twitter"></i> Twitter
      </a>
      <a href="https://discord.gg/W7r24Aa">
        <i class="fab fa-fw fa-discord"></i> Discord
      </a>
    </div>

    <div class="footer-sitemap-section">
      <h5>More</h5>
      <a href="https://github.com/bigtestjs">
        <i class="fab fa-fw fa-github"></i> Github
      </a>
      <a href="https://frontside.io">Frontside</a>
    </div>
  </section>

  <section class="footer-copyright">
    &copy; 2017 - <%= Date.today.year %> The Frontside, Inc.
  </section>
</footer>
