<div class="fixedHeaderContainer">
  <div class="headerWrapper wrapper">
    <header>
      <a href="/">
        <img class="logo" src="/images/logo-white-square.svg">
        <h2 class="headerTitle">BigTest</h2>
      </a>

      <div class="navigationWrapper navigationSlider">
        <nav class="slidingNav">
          <ul class="nav-site nav-site-internal">
            <li><a href="/docs/intro.html" target="_self">Docs</a></li>
            <li><a href="/help.html" target="_self">Help</a></li>
          </ul>
        </nav>
      </div>
    </header>
  </div>
</div>
