<header class="header">
  <div class="header-container">
    <a class="header-logo" href="/">
      <span class="visually-hidden">
        BigTest
      </span>
    </a>

    <nav class="header-nav">
      <ul>
        <li><%= active_link_to 'Guides', '/guides/intro.html', '/guides/' %></li>
        <li><%= active_link_to 'Docs', '/docs/index.html', '/docs/' %></li>
      </ul>
    </nav>
  </div>
</header>
