<header class="header">
  <a class="header-logo" href="/">
    <span class="visually-hidden">
      BigTest
    </span>
  </a>

  <nav class="header-nav">
    <ul>
      <li><a href="/guides/intro">Guides</a></li>
      <li><a href="/docs">Docs</a></li>
    </ul>
  </nav>
</header>
