<% issue_url = "https://github.com/bigtestjs/bigtestjs.io/issues/#{issue_number}" %>

<div class="quest-issue">
  <h2><%= no_widow 'Want to help with this page?' %></h2>
  <p>
    Check out this <%= link_to 'quest issue', issue_url %>
    <%= no_widow 'to see how you can help improve this page!' %>
  </p>
</div>
