:root {
  --font-sans-serif: 'Open Sans', 'Helvetica', sans-serif;

  --size-xs: 0.75rem;
  --size-small: 0.825rem;
  --size-normal: 1rem;
  --size-medium: 1.125rem;
  --size-med-lg: 1.25rem;
  --size-large: 1.5rem;
  --size-xl: 1.75rem;
  --size-xxl: 2rem;

  --color-primary: #26abe8;
  --color-primary-light: #def2fc;
  --color-primary-lighter: #f1fafe;
  --color-primary-dark: #179fdd;
  --color-secondary: #f74d7b;
  --color-secondary-light: #fedfe8;
  --color-secondary-lighter: #feeef2;
  --color-secondary-dark: #f63569;
  --color-tertiary: #14315d;
  --color-tertiary-light: #3675d4;
  --color-gray: #eeeef6;
  --color-gray-dark: #4f4f96;

  --space-xxs: 0.5rem;
  --space-xs: 1rem;
  --space-small: 1.5rem;
  --space-med-sm: 3rem;
  --space-medium: 4rem;
  --space-med-lg: 6rem;
  --space-large: 7rem;
  --space-xl: 10rem;

  --shadow-medium: 0 0.125rem 0.5rem rgba(black, 0.2);
  --shadow-large: 0 0.25rem 0.5rem rgba(black, 0.1);
}

@custom-media --media-medium-up (min-width: 40rem);
@custom-media --media-lg-up (min-width: 62rem);
@custom-media --media-xl-up (min-width: 75rem);
