.btn {
  border-radius: 0.5rem;
  box-shadow: $shadow-medium;
  display: inline-block;
  padding: $space-xxs $space-small;
  transition: background-color 100ms ease-in-out;
  font-weight: 600;

  &--primary {
    background-color: $color-primary;
    color: white;

    &.btn--hollow {
      color: $color-primary;

      &:hover {
        background-color: $color-primary-light;
      }
    }

    &:hover {
      background-color: $color-primary-dark;
    }
  }

  &--secondary {
    background-color: $color-secondary;
    color: white;

    &.btn--hollow {
      color: $color-secondary;

      &:hover {
        background-color: $color-secondary-lighter;
      }
    }

    &:hover {
      background-color: $color-secondary-dark;
    }
  }

  &--hollow {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid;
  }

  &:hover {
    text-decoration: none;
  }
}
