.table-wrapper {
  position: relative;
}

.comparison-table {
  margin-bottom: 1rem;
  width: calc(145px * 6);
  position: initial; // due to everything being set to `relative`
  border: none;
  border-collapse: separate;
  border-spacing: 0;

  tr:nth-child(2n+2),
  tr:nth-child(2n+2) td {
    background-color: $color-primary-lighter;
  }

  thead th {
    background-color: $color-primary-light;
    color: black;
    padding: 10px;
    text-align: center;
    white-space: nowrap;
    width: 145px;
  }

  tbody td {
    padding: 10px;
    white-space: nowrap;
    width: 145px;
  }

  .right {
    text-align: right;
  }

  .center {
    text-align: center;
  }

  .left {
    text-align: left;
  }
}

.table-scroller {
  position: initial;
  margin-left: 145px;
  overflow-x: scroll;
  overflow-y: visible;
  padding-bottom: 5px;
  width: calc(100% - 145px);
}

.sticky-col {
  border-right: 2px solid $color-secondary;
  position: absolute;
  left: 0;
  top: auto;
  width: 145px;

  &:first-child {
    border-right: 2px solid $color-secondary;
  }
}
