$table-width: 115px;

.table-wrapper {
  position: relative;
  margin-bottom: $space-small;
}

.comparison-table {
  width: calc($table-width * 6);
  position: initial; // due to everything being set to `relative`
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  font-size: $size-medium;

  tr:nth-child(2n+2),
  tr:nth-child(2n+2) td {
    background-color: $color-primary-lighter;
  }

  thead th {
    height: 90px;
    color: black;
    padding: 10px;
    text-align: center;
    width: $table-width;
    vertical-align: middle;
    background-color: $color-primary-light;

    &:first-child {
      padding-top: $size-xs;
    }
  }

  tbody td {
    padding: $space-xs;
    width: $table-width;
  }

  .right {
    text-align: right;
  }

  .center {
    text-align: center;
  }

  .left {
    text-align: left;
  }
}

.table-scroller {
  position: initial;
  padding-left: $table-width;
  overflow-x: scroll;
  overflow-y: visible;
}

.sticky-col {
  position: absolute;
  left: 0;
  top: auto;
  z-index: 1;
  width: $table-width;
  background-color: white;
  border-right: 2px solid $color-secondary;

  &:first-child {
    border-right: 2px solid $color-secondary;
  }
}
