.main {
  background-color: white;
  flex-grow: 1;
  padding: $space-medium 0;

  &-content {
    padding: $space-xs;
    max-width: 60rem;
    width: 100%;

    @media #{$media-medium-up} {
      padding: $space-small;
    }

    @media #{$media-med-lg-up} {
      padding-top: $space-med-sm;
      width: calc(100% - 18rem);
    }
  }

  &.index {
    padding-bottom: 0;
  }

  @media #{$media-medium-up} {
    padding-bottom: $space-med-lg;
  }

  @media #{$media-med-lg-up} {
    display: flex;
    justify-content: center;
    padding-bottom: $space-large;

    &.index {
      display: block;
    }
  }
}
