.footer {
  background-color: var(--color-primary);
  color: white;
  padding: var(--space-small) 0;
  text-align: center;

  a {
    display: inline-block;
    color: inherit;
    line-height: 1.5;
  }

  &-logo {
    display: inline-block;
    margin-bottom: var(--space-xxs);

    img {
      display: block;
      height: var(--space-medium);
    }
  }

  &-sitemap, &-sitemap-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: var(--space-xs);
  }

  &-copyright {
    font-size: var(--size-xs);
    text-align: center;
  }

  @media (--media-medium-up) {
    /* aligns the logo words with the list below it */
    --logo-overlap: 4.5rem;

    text-align: left;
    padding: var(--space-med-sm) 0 var(--space-small);

    h5 {
      margin: var(--space-small) 0 -var(-space-xxs);
    }

    .footer-logo {
      margin-top: calc(var(--space-xxs) * -1);
      margin-left: calc(var(--logo-overlap) * -1);
      margin-bottom: 0;
    }

    .footer-sitemap {
      flex-direction: row;
      align-items: start;
      justify-content: space-between;
      padding: 0 var(--logo-overlap);
      margin: 0 auto var(--space-medium);
      max-width: 78rem;
    }

    .footer-sitemap-section {
      align-items: start;
      padding: 0 var(--space-small);
      width: 25%;
    }
  }
}
