@import '../variables';

.header {
  background-color: var(--color-primary);
  box-shadow: var(--shadow-large);
  height: var(--space-medium);
  padding: 0 0.5rem;
  /* z-index: z(navigation); */
  position: fixed;
  width: 100%;

  &-container {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 78rem;
    width: 100%;
  }

  &-logo {
    background: url('/images/logo-white-square.svg') no-repeat center;
    background-origin: content-box;
    margin-right: auto;
    padding: 0.25rem;
    height: var(--space-medium);
    width: var(--space-medium);

    @media screen and (min-width: 34rem) {
      background-image: url('/images/logo-white.svg');
      /* magic number: 2.8 is the logo's ratio */
      width: var(--space-medium) * 2.8;
    }
  }

  &-nav {
    margin-left: auto;

    ul {
      list-style: none;
      display: flex;
    }

    a {
      color: white;
      display: block;
      padding: 0 var(--space-xs);
      line-height: var(--space-medium);

      &:focus, &:hover {
        background: rgba(white, 0.1);
        text-decoration: none;
      }

      &.is-active {
        font-weight: 600;

        &::after {
          border-bottom: 2px solid;
          content: '';
          position: absolute;
          top: calc(50% + 0.75em);
          left: var(--space-xs);
          right: var(--space-xs);
        }
      }
    }
  }
}
