@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');
@import '../variables';

/* Default document styles */
html {
  font: 100%/1.8 var(--font-sans-serif);
  background: var(--body-bg);
  color: var(--body-color);
}

/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}

input, button {
  appearance: none;
  border: none;
  font: inherit;
  background: none;
}

img {
  max-width: 100%;
}

/* required for picture element */
picture {
  position: initial;
}

/* Typography */
h1, h2, h3 {
  line-height: 1.375;
  font-family: var(--font-sans-serif);
  font-weight: 800;
  letter-spacing: 0.025em;
}

h1 {
  font-size: var(--size-xl);
  margin-bottom: var(--space-one-half);
  margin-top: var(--space-double);
}

h2 {
  font-size: var(--size-large);
  margin-bottom: var(--space-single);
  margin-top: var(--space-quadruple);
}

h3 {
  font-size: var(--size-med-lg);
  margin-bottom: var(--space-single);
  margin-top: var(--space-quadruple);
  font-weight: 700;
}

p {
  font-family: var(--font-serif);
  font-size: var(--size-base);
  margin-bottom: var(--space-one-half);
  color: var(--body-color);
}

a {
  color: var(--link-color);
}

ol {
  font-family: var(--font-serif);
  font-size: var(--size-base);
  margin: var(--space-double);
}

/* Utility Classes */
.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
