@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');
@import '../../styles/variables';

@import '../../styles/reset';
@import '../../styles/common';
@import '../../styles/typography';

.main {
  background-color: white;
  flex-grow: 1;
  padding: var(--space-medium) 0;

  &-content {
    padding: var(--space-xs);
    max-width: 60rem;
    width: 100%;

    @media (--media-medium-up) {
      padding: var(--space-small);
    }

    @media (--media-med-lg-up) {
      padding-top: var(--space-med-sm);
      width: calc(100% - 18rem);
    }
  }

  &.index {
    padding-bottom: 0;
  }

  @media (--media-medium-up) {
    padding-bottom: var(--space-med-lg);
  }

  @media (--media-med-lg-up) {
    display: flex;
    justify-content: center;
    padding-bottom: var(--space-large);

    &.index {
      display: block;
    }
  }
}
