.guides-footer {
  border-top: 1px solid $color-primary;
  padding-top: $space-med-sm;
  margin-top: $space-med-lg;

  &--prev {
    float: left;
    margin: 0 $space-xs $space-xs 0;

    a {
      padding-left: 2.5em;
    }

    svg {
      left: 1em;
    }
  }

  &--next {
    float: right;
    margin: 0 0 $space-xs $space-xs;

    a {
      padding-right: 2.5em;
    }

    svg {
      right: 1em;
    }
  }

  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0.8em;
    height: 0.8em;

    path {
      fill: none;
      stroke: currentcolor;
      stroke-width: 10;
      stroke-linecap: round;
    }
  }
}
