*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  background-color: $color-primary;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font: 100%/1.8 $font-serif;
  min-height: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

/* Normally, the header covers any target on the page. This shifts the
   active target down below the header so it is completely visible */
[id]:target {
  position: static;
  pointer-events: none;

  &::before {
    content: '';
    display: block;
    height: $space-med-lg;
    margin-top: -$space-med-lg;
    visibility: hidden;
  }

  & > * {
    pointer-events: auto;
  }
}
