*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  background-color: $color-primary;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font: 100%/1.8 $font-serif;
  min-height: 100%;
}

nav ul {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

.quest-issue {
  text-align: center;

  h1 {
    margin-top: 2.5em;
  }

  p {
    display: block;
  }
}
