h1 {
  border-bottom: 1px solid $color-primary;
  font-size: $size-large;
  font-weight: 600;
  margin-bottom: $space-small;
  padding-bottom: $space-xs;

  @media #{$media-medium-up} {
    font-size: $size-xxl;
  }
}

h2 {
  font-size: $size-med-lg;
  font-weight: 700;
  margin-bottom: $space-small;

  &:not(:first-child) {
    margin-top: $space-med-sm;
  }

  @media #{$media-medium-up} {
    font-size: $size-xl;
  }
}

h3 {
  color: $color-tertiary;
  font-size: $size-medium;
  margin-bottom: $space-small;
  font-weight: 600;

  @media #{$media-medium-up} {
    font-size: $size-large;
  }
}

h5 {
  font-size: $size-normal;
  font-weight: 700;
}

ul, ol, p {
  font-size: $size-normal;
  margin-bottom: $space-small;

  code {
    background: $color-gray;
    border-radius: 0.25rem;
    color: $color-gray-dark;
    padding: 0 0.5em;
  }

  @media #{$media-medium-up} {
    font-size: $size-medium;
  }
}

ul {
  list-style: disc;
  padding-left: $space-small;
}

a {
  color: $color-tertiary-light;
  text-decoration: none;

  &:focus, &:hover {
    text-decoration: underline;
  }
}

em {
  font-style: italic;
}

strong {
  font-weight: 600;
}

hr {
  border: none;
  border-bottom: 1px solid $color-secondary-light;
  margin-bottom: $space-small;
}

pre {
  font-size: $size-small;
  margin-bottom: $space-small;

  @media #{$media-medium-up} {
    font-size: $size-normal;
  }
}

code {
  font-family: 'Operator Mono', 'Fira Code', monospace;
}
