<section class="download-page">
  <h1>Download Packages</h1>
  <p>Here is a list of all packages available in BigTest and their download pages.</p>
  <table>
    <thead>
      <tr>
        <td>Package Name</td>
        <td>NPM</td>
        <td>Tarball</td>
      </tr>
    </thead>
    <tbody>
      <% data.download.packages.each do |pkg| %>
      <tr>
        <td>
          <%= pkg.name %>
        </td>
        <td>
          <% link_to pkg.npm, target: '_blank' do %>
            <%= pkg.name %>
          <% end %>
        </td>
        <td>
          <% link_to pkg.download, target: '_blank' do %>
            Download
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>