<div>
  <div class="homeContainer">
    <div class="homeSplashFade">
      <div class="wrapper homeWrapper">
        <div class="projectLogo">
          <img src="/images/logo-square.svg">
        </div>
        <div class="inner">
          <h2 class="projectTitle">BigTest<small>Making your application work since 2017.</small>
          </h2>
          <div class="section promoSection">
            <div class="promoRow">
              <div class="pluginRowBlock">
                <div class="pluginWrapper buttonWrapper">
                  <a class="button" href="/docs/examples.html" target="_self">Examples</a>
                </div>
                <div class="pluginWrapper buttonWrapper">
                  <a class="button" href="/docs/installation.html" target="_self">Get Started</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="styleBreak3">

  </div>
  <div class="aboutContainer">
    <div class="container paddingBottom paddingTop">
      <div class="wrapper">
        <div class="gridBlock">
          <div class="blockElement alignCenter fourByGridBlock">
            <div class="blockContent">
              <h2>
                <div>
                  <span>
                    <p>What is Bigtest?</p>
                  </span>
                </div>
              </h2>
              <div>
                <span>
                  <p>Gold Road clipper bring a spring upon her cable reef.</p>
                </span>
              </div>
            </div>
          </div>
          <div class="blockElement alignCenter fourByGridBlock">
            <div class="blockContent">
              <h2>
                <div>
                  <span>
                    <p>Why Use It?</p>
                  </span>
                </div>
              </h2>
              <div>
                <span>
                  <p>Mutiny Admiral of the Black run a shot across the bow.</p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="styleBreak2">

    </div>
    <div class="howToSection">
      <div class="container">
        <div class="wrapper">
          <div>
            <h2>You've Convinced Me! How do I use This?!</h2>
            <p>Lee rutters matey. Snow scallywag chandler. Barkadeer cutlass gaff. Prow gibbet avast.</p>
          </div>
          <div>
            <a class="button" href="/docs/installation.html">Get Started</a>
          </div>
        </div>
      </div>
    </div>
    <div class="styleBreak">

    </div>
    <div class="productShowcaseSection">
      <h2>Who's Using BigTest?</h2>
      <p>People Who Can't Get Enough of a Great Thing</p>
      <div class="logos">
        <a href="https://frontside.io" class="growOnHover">
          <img src="/images/frontside-icon-transparent.png" title="Frontside">
        </a>
      </div>
      <div class="more-users">
        <a class="button" href="/users.html">More BigTest Users</a>
      </div>
    </div>
    <div class="container testimonials">
      <div class="wrapper">
        <div class="gridBlock">
          <div class="blockElement alignCenter imageAlignTop threeByGridBlock">
            <div class="blockImage">
              <img src="/images/john.jpeg">
            </div>
            <div class="blockContent">
              <h2>
                <div>
                  <span>
                    <p>John Johnson <br>
                      <font size="2">Worlds Greatest Developer</font>
                    </p>
                  </span>
                </div>
              </h2>
              <div>
                <span>
                  <p>
                    <i>Leverage agile frameworks to provide a robust synopsis for high level overviews. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</i>
                  </p>
                </span>
              </div>
            </div>
          </div>
          <div class="blockElement alignCenter imageAlignTop threeByGridBlock">
            <div class="blockImage">
              <img src="/images/anderson.jpeg">
            </div>
            <div class="blockContent">
              <h2>
                <div>
                  <span>
                    <p>Mr. Anderson <br>
                      <font size="2">Voted "Most Credible Reviewer" in College</font>
                    </p>
                  </span>
                </div>
              </h2>
              <div>
                <span>
                  <p>
                    <i>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution.</i>
                  </p>
                </span>
              </div>
            </div>
          </div>
          <div class="blockElement alignCenter imageAlignTop threeByGridBlock">
            <div class="blockImage">
              <img src="/images/paul.jpeg">
            </div>
            <div class="blockContent">
              <h2>
                <div>
                  <span>
                    <p>...Paul? <br>
                      <font size="2">Nice Guy</font>
                    </p>
                  </span>
                </div>
              </h2>
              <div>
                <span>
                  <p>
                    <i>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps.</i>
                  </p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
